.div3{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 5px;
}
.sender{
display: flex;
justify-content:right;
padding: 10px;
}
.strong{
    color: blue;
     margin-top: 30px;
     background-color: lightgray;
     height: 20px;
     display: flex;
    
}

.receiver{
    display: flex;
    justify-content: left;
    padding: 10px;
}

/*text input*/
.inputtext_container {
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-top: 25%;
}

.inputtext_container textarea {
    width: 80%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
    resize: none;
    font-family: Arial, sans-serif;
}

.inputtext_container button {
    width: 15%;
    height: 50px;
    font-weight: bold;
    border-radius: 25px;
    font-size: 16px;
    background-color: rgb(4, 170, 0);
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.inputtext_container button:hover {
    background-color: rgb(3, 150, 0);
}

.chat_list{
    height: 75vh;
    overflow: scroll;
    overflow-x: row;
}